/* navigation */
#navbar{
    flex-direction: column;
}


/* home section  */

#home{

}



/* servies section  */


#services{
    
    flex-direction: column;
    /* align-items: center; */

}

/* clients section  */
#clients{
    overflow: hidden;
}





/* contact section  */



